.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40em;
  padding: 5em;
}

.container h1 {
  color: #1b2845;
}

.selector-container {
  display: flex;
  width: 100%;
  gap: 1em;
}

.selector-container > div {
  width: 20em;
  margin: 0.4em 0;
}
